<div  class="fullheight" style="background-image:image-url(/images/bingsta_newfeed.png)" />
  <font color=white>
    <h1>New Feed</h1>
    <%= render 'form', feed: @feed %>
    <%= link_to 'Back', feeds_path %>
  </font>
</div>